@font-face {
    font-family: 'Lori Bold';
    src: url('../../fonts/LoriBold.woff2') format('woff2'),
        url('../../fonts/LoriBold.woff') format('woff'),
        url('../../fonts/LoriBold.ttf') format('truetype'),
        url('../../fonts/LoriBold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lori Medium';
    src: url('../../fonts/LoriMedium.woff2') format('woff2'),
        url('../../fonts/LoriMedium.woff') format('woff'),
        url('../../fonts/LoriMedium.ttf') format('truetype'),
        url('../../fonts/LoriMedium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Rectángulo azul */
.rectangulo-azul {
    width: 100%;
    max-width: 960px;
    height: 400px;
    background-color: #1e3a8a;
    margin: 0 auto;
}


/* Contenedor principal */
.container {
    width: 100%;
    padding: 35px 0 0;
    max-width: 960px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* Títulos y textos */
h1, h2, p {
    margin: 0;
    font-size: 18px;
}

.titulo {
    font-size: 32px;
    margin-top: 20px;
    font-weight: bold;
    text-align: left;
}

/* Estilo para los textos */
.nom, .descripcio, .tematica, .exposicio {
    font-size: 1.8rem;
    color: black;
    font-family: 'Lori Bold';
    text-align: left;
    margin-bottom: 0px;
}

.des {
    margin-top: 2px;
    margin-bottom: 15px;
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.6;
    font-family: 'Lori Medium';
    color: rgb(109, 109, 109);
}

/* Estilo de las obras */
.obras {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 40px;
    max-width: 960px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* Asegura que no quede tapado el contenido por la barra fija */
.espaciador {
    height: 100px; /* mismo alto o más que la barra de navegación */
}

/* Cuadro de cada obra */
.cuadro-obra {
    width: 450px;
    height: 300px;
    background-color: #ddd;
    border-radius: 5px;
}


/* Barra de navegación */
.nave {
    background: #591662;
    width: 100%;
    max-width: 960px;
    height: 80px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

/* Elementos individuales de la barra de navegación */
.home {
    opacity: 0.5;
    background: transparent;
    width: 40px;
    height: 40px;
    margin: 20px 5%;
    float: left;
    background-image: url(../../img/home.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.home:hover {
    opacity: 1;
}

.exposi {
    opacity: 0.5;
    background: transparent;
    width: 40px;
    height: 40px;
    margin: 20px 5%;
    float: left;
    background-image: url(../../img/expo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.exposi:hover {
    opacity: 1;
}

.subir {
    opacity: 0.5;
    background: transparent;
    width: 70px;
    height: 70px;
    margin: 5px 50px;
    float: left;
    background-image: url(../../img/subir.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.subir:hover {
    opacity: 1;
}

.subasta {
    opacity: 1;
    background: transparent;
    width: 40px;
    height: 40px;
    margin: 20px 5%;
    float: left;
    background-image: url(../../img/subasta.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 3px 0px;
}

.subasta:hover {
    opacity: 1;
}

.perfil {
    opacity: 0.5;
    background: transparent;
    width: 40px;
    height: 40px;
    margin: 20px 5%;
    float: left;
    background-image: url(../../img/perfil.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.perfil:hover {
    opacity: 1;
}
