@font-face {
    font-family: 'Lori Bold';
    src: url('fonts/LoriBold.woff2') format('woff2'),
        url('fonts/LoriBold.woff') format('woff'),
        url('fonts/LoriBold.ttf') format('truetype'),
        url('fonts/LoriBold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lori Medium';
    src: url('../fonts/LoriMedium.woff2') format('woff2'),
        url('../fonts/LoriMedium.woff') format('woff'),
        url('../fonts/LoriMedium.ttf') format('truetype'),
        url('../fonts/LoriMedium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Apila la imagen y el botón en columna */
    align-items: center; /* Centra horizontalmente */
    font-family: 'Lori Medium';
}

img {
    width: 100px;
    margin-top: 70px;
}

h2{
    font-size: 1.2rem;
    margin: 40px 0px -8px 0px;
    padding: 0px 435px 0px 0px;
}

.nom {
    width: 500px; /* Puedes ajustar el tamaño según lo necesites */
    padding: 10px;
    margin: 10px 0; /* Espacio entre los recuadros */
    border: 1px solid #ccc;
    border-radius: 5px;
}

h3{
    font-size: 1.2rem;
    margin: 10px 0px -8px 0px;
    padding: 0px 445px 0px 0px;
}

.usuari {
    width: 500px; /* Puedes ajustar el tamaño según lo necesites */
    padding: 10px;
    margin: 10px 0; /* Espacio entre los recuadros */
    border: 1px solid #ccc;
    border-radius: 5px;
}

h4{
    font-size: 1.2rem;
    margin: 10px 0px -8px 0px;
    padding: 0px 415px 0px 0px;
}

.data {
    width: 500px; /* Puedes ajustar el tamaño según lo necesites */
    padding: 10px;
    margin: 10px 0; /* Espacio entre los recuadros */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contra {
    width: 500px; /* Puedes ajustar el tamaño según lo necesites */
    padding: 10px;
    margin: 10px 0; /* Espacio entre los recuadros */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkbox-container {
    margin-right: 410px;
    margin-top: -20px;
}

h5{
    font-size: 1.2rem;
    padding-right: 410px;
}



.avatar {
    background: transparent;
    border-radius: 20px;
    width: 120px;
    height: 120px;
    display: flex; /* Activamos Flexbox */
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
    background-repeat: none;
    float: left;
    margin: 20px 7px;
    box-shadow: 0px 0px 0px 2px #5BC0BE;
}

.avatar img{
    width: 90px;
    padding-bottom: 70px;
}

.avatar:hover{
    opacity: 0.5;
}

.avatar.active {
    box-shadow: 0px 0px 0px 3px #591662 !important;
}

.inicia {
    width: 250px;
    height: 70px;
    border-radius: 10px;
    background: #5BC0BE; /* Para que el botón sea visible */
    box-shadow: 2px 2px 5px black; /* Sombras para mejorar la visibilidad */
    margin-top: 70px; /* Espacio de 300px entre la imagen y el botón */
    text-decoration: none;

    /* El text */
    font-size: 2rem;
    line-height: 4.5rem;
    text-align: center;
    color: white;
}

.inicia:hover {
    opacity: 50%;
    box-shadow: 0px 0px 0px transparent;
}


@media screen and (max-width: 480px){
    /*aqui va el disseny smartphone*/
    img{
        width: 80px;
        margin-top: 70px;
    }

    h2{
        font-size: 1.1rem;
        margin: 40px 0px -8px 0px;
        padding: 0px 245px 0px 0px;
    }

    .nom {
        width: 300px; /* Puedes ajustar el tamaño según lo necesites */
    }

    h3{
        font-size: 1.1rem;
        margin: 10px 0px -8px 0px;
        padding: 0px 250px 0px 0px;
    }

    .usuari {
        width: 300px; /* Puedes ajustar el tamaño según lo necesites */
    }

    h4{
        font-size: 1.1rem;
        margin: 10px 0px -8px 0px;
        padding: 0px 225px 0px 0px;
    }

    .data {
        width: 300px; /* Puedes ajustar el tamaño según lo necesites */
    }

    .checkbox-container {
        margin-right: 210px;
        margin-top: -20px;
    }

    .contra {
        width: 300px; /* Puedes ajustar el tamaño según lo necesites */
    }

    h5{
        font-size: 1.2rem;
        padding-right: 210px;
    }

    .avatar {
        width: 70px;
        height: 70px;
        margin: -20px 6px;
        border-radius: 10px;
        box-shadow: 0px 0px 0px 1px #5BC0BE;
    }
    
    .avatar img{
        width: 55px;
        padding-bottom: 70px;
    }

    .inicia {
        width: 260px;
        height: 60px;
        border-radius: 10px;
        box-shadow: 2px 2px 5px black; /* Sombras para mejorar la visibilidad */
        margin-top: 50px; /* Espacio de 300px entre la imagen y el botón */

        /* E text */
        font-size: 1.8rem;
        line-height: 3.8rem;
        text-align: center;
    }
}
