@font-face {
    font-family: 'Lori Bold';
    src: url('../fonts/LoriBold.woff2') format('woff2'),
        url('../fonts/LoriBold.woff') format('woff'),
        url('../fonts/LoriBold.ttf') format('truetype'),
        url('../fonts/LoriBold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lori Medium';
    src: url('../fonts/LoriMedium.woff2') format('woff2'),
        url('../fonts/LoriMedium.woff') format('woff'),
        url('../fonts/LoriMedium.ttf') format('truetype'),
        url('../fonts/LoriMedium.svg') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
}

body {
    background: white;
    overflow-x: hidden;
}

.buscador {
    background: transparent;
    width: 100%;
    max-width: 960px;
    height: 30px;
    margin: 0 auto;
    margin-top: 20px;
}

.buscar{
    width: 90%;
    height: 30px;
    box-sizing: border-box;
}

.enter{
    background: #5BC0BE;
    width: 9.9%;
    height: 30px;
    float: right;
    border-radius: 3px;
}

.enter h1 {
    background: transparent;
    font-size: 1.4rem;
    font-family: 'Lori Medium';
    text-align: center;
    color: white;
    bottom: 0px;
}

h6 {
    background: transparent;
    width: 100%;
    max-width: 960px;
    font-size: 2rem;
    font-family: 'Lori Bold';
    color: black;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 5px;
}

.expos {
    width: 100%;
    max-width: 960px;
    height: 350px;
    background: blue;
    margin:  0 auto;
    background-image: url(../interface/dentroexpoo/imgexpos/expo4.jpg);
    background-size: 960px;  
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.etiqueta{
    background: white;
    width: 150px;
    height: 35px;
    left: 80%;
    top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px black, 0 0 20px black;
}

.etiqueta h3{
    background: transparent;
    color: #5BC0BE;
    font-family: 'Lori Medium';
    font-size: 1.5rem;
    text-align: center;
    line-height: 2rem;
}

.expos h1{
    color: white;
    font-family: 'Lori Bold';
    font-size: 3rem;
    top: 210px;
    padding: 0px 0px 0px 20px;
    text-shadow: 0 0 5px black, 0 0 10px black, 0 0 10px black;
}

.expos h2{
    background: transparent;
    color: white;
    font-family: 'Lori Medium';
    font-size: 1.5rem;
    top: 205px;
    padding: 0px 0px 0px 20px;
    text-shadow: 0 0 5px black, 0 0 10px black, 0 0 10px black;
}

h2 {
    max-width: 960px;
    font-size: 2rem;
    font-family: 'Lori Bold';
    color: black;
    margin-top: 15px;
    margin: 0 auto;
}

.canvi {
    max-width: 960px;
    font-family: 'Lori Bold';
    color: black;
    padding-top: 20px;
    margin: 0 auto;
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 10px 32px;
    text-indent: 30px;
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
}

.imagen-girar {
    position: absolute;
    top: 32px;
    left: 10px;
    width: 15px;
    height: 15px;
    background-image: url(../img/desplegar.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.5s ease;
    pointer-events: none; /* para que no bloquee el clic */
}

/* Aplica solo la rotación a la imagen */
.canvi.girar .imagen-girar {
    transform: rotate(-90deg);
}

.siguiendo {
    font-family: 'Lori Bold';
    color: black;
    font-size: 1.4rem;
    padding-top: 10px;
    margin-left: 30px; /* alineado con el texto "Descobreix" */
}

.oculto {
    display: none;
}

.container {
    background: transparent;
    width: 100%;
    max-width: 970px;
    height: fit-content;
    margin-top: 10px;
    padding-bottom: 90px;
    margin: 0 auto;
    overflow: hidden;
}

.expo {
    background: grey;
    width: 475px;
    height: 475px;
    float: left;
    margin: 5px 5px 65px 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.expo1 {
    background-image: url('../interface/imageneshome/obra1.jpg');
    background-repeat: no-repeat;
    background-size: 140%;
}

.expo2 {
    background-image: url('../interface/imageneshome/obra2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.expo3 {
    background-image: url('../fotosart/pexels-ibrahim-magdy-art-462553637-15711409.jpg');
}

.expo4 {
    background-image: url('../interface/imageneshome/obra1.jpg');
}

.expo5 {
    background-image: url('../interface/imageneshome/obra2.jpg');
}

.expo6 {
    background-image: url('../interface/imageneshome/obra3.jpg');
}

.expo7 {
    background-image: url('../interface/imageneshome/obra4.jpg');
}

.expo8 {
    background-image: url('../interface/imageneshome/obra5.jpg');
}

.expo9 {
    background-image: url('../interface/imageneshome/obra6.jpg');
}

.expo10 {
    background-image: url('../fotosart/expo1.jpeg');
}

.guardar {
    background: transparent;
    width: 40px;
    height: 40px;
    left: 410px;
    top: 10px;
    background-image: url(../img/guardar.png);
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: 7px 0px;
}

.peu {
    background: transparent;
    width: 475px;
    height: 60px;
    top: 435px;
}

.peu h1 {
    background: transparent;
    font-size: 1.8rem;
    font-family: 'Lori Bold';
    width: 70%;
    margin: 0;
}

.peu h2 {
    background: transparent;
    font-size: 1.2rem;
    font-family: 'Lori Medium';
    margin: 0;
    width: 70%;
}

.seguir {
    background: #5BC0BE;
    width: 30%;
    height: 40px;
    float: right;
    bottom: 53px;
    border-radius: 10px;
}

.seguir h1 {
    background: transparent;
    font-size: 1.5rem;
    font-family: 'Lori Medium';
    text-align: center;
    margin: 0;
    width: 100%;
    line-height: 2.4rem;
    color: white;
}

.nave{
    background: #591662;
    width: 100%;
    max-width: 960px;
    height: 80px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    justify-content: center;
    display: flex;
}

.home {
    opacity: 1;
    background: transparent;
    width: 40px;
    height:40px;
    margin: 20px 5%;
    float: left;
    background-image: url(../img/home.png);
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.exposi {
    opacity: 0.5;
    background: transparent;
    width: 40px;
    height: 40px;
    margin: 20px 5%;
    float: left;
    background-image: url(../img/expo.png);
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.exposi:hover {
    opacity: 1;
}

.subir {
    opacity: 0.5;
    background: transparent;
    width: 70px;
    height:70px;
    margin: 5px 50px;
    float: left;
    background-image: url(../img/subir.png);
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.subir:hover {
    opacity: 1;
}

.subasta {
    opacity: 0.5;
    background: transparent;
    width: 40px;
    height:40px;
    margin: 20px 5%;
    float: left;
    background-image: url(../img/subasta.png);
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: 3px 0px;
}

.subasta:hover {
    opacity: 1;
}

.perfil {
    opacity: 0.5;
    background: blue;
    width: 40px;
    height:40px;
    margin: 20px 5%;
    border-radius: 8px;
    float: left;
    background-image: url(../../interface/dentroexpoo/imgexpos/logo1.jpg);
    background-size: 120%;  
    background-repeat: no-repeat;
    background-position: -4px -4px;
}

.perfil:hover {
    opacity: 1;
}

@media screen and (max-width: 440px) {

    
    .buscador {
        background: transparent;
        width: 100%;
        max-width: 420px;
    }
    
    .buscar{
        width: 75%;
        height: 30px;
        box-sizing: border-box;
    }
    
    .enter{
        width: 25%;
        border-radius: 6px;
    }
    
    .enter h1 {
        background: transparent;
        font-size: 1.4rem;
        bottom: 0px;
    }

    h6 {
        background: transparent;
        width: 100%;
        max-width: 420px;
        font-size: 2rem;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .expos {
        width: 100%;
        height: 250px;
        background: blue;
        border-radius: 0px;
        background-image: url(../interface/dentroexpoo/imgexpos/expo4.jpg);
        background-size: 100%;  
        background-repeat: no-repeat;
        background-position: 0px 0px;
    }
    
    .etiqueta{
        background: white;
        width: 120px;
        height: 35px;
        left: 67%;
        top: 20px;
        border-radius: 10px;
        box-shadow: 0 0 5px black, 0 0 20px black;
    }
    
    .etiqueta h3{
        background: transparent;
        color: #5BC0BE;
        font-family: 'Lori Medium';
        font-size: 1.5rem;
        text-align: center;
        line-height: 2rem;
    }
    
    .expos h1{
        color: white;
        font-family: 'Lori Bold';
        font-size: 2rem;
        top: 140px;
        padding: 0px 0px 0px 20px;
        text-shadow: 0 0 5px black, 0 0 10px black, 0 0 10px black;
    }
    
    .expos h2{
        background: transparent;
        color: white;
        font-family: 'Lori Medium';
        font-size: 1.1rem;
        top: 140px;
        padding: 0px 0px 0px 22px;
        text-shadow: 0 0 5px black, 0 0 10px black, 0 0 10px black;
    }

    .container {
        background: transparent;
        width: 100%;
        max-width: 460px;
        height: fit-content;
        margin-top: 10px;
        padding-bottom: 90px;
        margin: 0 auto;
        overflow: hidden;
    }
    
    .expo {
        background: grey;
        width: 100%;
        height: 420px;
        float: left;
        margin: 5px 0px 65px 0px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .expo1 {
        background-image: url('../interface/imageneshome/obra1.jpg');
        background-repeat: no-repeat;
        background-size: 140%;
    }
    
    .expo2 {
        background-image: url('../interface/imageneshome/obra2.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
    }
    
    .expo3 {
        background-image: url('../fotosart/pexels-ibrahim-magdy-art-462553637-15711409.jpg');
    }
    
    .expo4 {
        background-image: url('../interface/imageneshome/obra1.jpg');
    }
    
    .expo5 {
        background-image: url('../interface/imageneshome/obra2.jpg');
    }
    
    .expo6 {
        background-image: url('../interface/imageneshome/obra3.jpg');
    }
    
    .expo7 {
        background-image: url('../interface/imageneshome/obra4.jpg');
    }
    
    .expo8 {
        background-image: url('../interface/imageneshome/obra5.jpg');
    }
    
    .expo9 {
        background-image: url('../interface/imageneshome/obra6.jpg');
    }
    
    .expo10 {
        background-image: url('../fotosart/expo1.jpeg');
    }

    .guardar {
        background: transparent;
        width: 40px;
        height: 40px;
        left: 390px;
        top: 20px;
        background-size: contain;  
        background-repeat: no-repeat;
        background-position: 7px 0px;
    }
    
    .peu {
        background: transparent;
        width: 97%;
        margin: 0 auto;
        height: 60px;
        top: 380px;
    }
    
    .peu h1 {
        background: transparent;
        font-size: 1.8rem;
        font-family: 'Lori Bold';
        width: 70%;
        margin: 0;
    }
    
    .peu h2 {
        background: transparent;
        font-size: 1.2rem;
        font-family: 'Lori Medium';
        margin: 0;
        width: 70%;
    }
    
    .seguir {
        background: #5BC0BE;
        width: 30%;
        height: 40px;
        float: right;
        bottom: 53px;
        border-radius: 10px;
    }
    
    .seguir h1 {
        background: transparent;
        font-size: 1.5rem;
        font-family: 'Lori Medium';
        text-align: center;
        margin: 0;
        width: 100%;
        line-height: 2.4rem;
        color: white;
    }




    /* NAVEGACIÓ*/
    .nave{
        background: #591662;
        width: 100%;
        height: 65px;
        position: fixed;
        justify-content: center;
        display: flex;
    }

    .home {
        width: 40px;
        height:40px;
        margin: 14px 20px 0px 20px;
    }
    
    .exposi {
        width: 40px;
        height: 40px;
        margin: 14px 20px 0px 20px;
    }
    
    .subir {
        width: 55px;
        height:55px;
        margin: 6px 20px 0px 20px;
    }
    
    .subasta {
        width: 40px;
        height:40px;
        margin: 14px 20px 0px 20px;
    }
    
    .perfil {
        width: 40px;
        height:40px;
        margin: 14px 20px 0px 20px;
    }
}
