body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ece5dd;
}
.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 600px;
  margin: auto;
  border: 1px solid #ccc;
  background-color: #fff;
}
.chat-header {
  background-color: #591662;
  color: white;
  padding: 15px;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.back-button {
  background-color: white;
  color: #591662;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.art-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  object-position: center;
}
.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.message {
  max-width: 70%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
}
.received {
  background-color: #e5e5ea;
  align-self: flex-start;
}
.sent {
  background-color: #5BC0BE;
  align-self: flex-end;
}
.chat-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #f0f0f0;
}
.chat-input input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
}
.chat-input button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #591662;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}