
@font-face {
  font-family: 'Lori Bold';
  src: url('../../fonts/LoriBold.woff2') format('woff2'),
       url('../../fonts/LoriBold.woff') format('woff'),
       url('../../fonts/LoriBold.ttf') format('truetype'),
       url('../../fonts/LoriBold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lori Medium';
  src: url('../../fonts/LoriMedium.woff2') format('woff2'),
       url('../../fonts/LoriMedium.woff') format('woff'),
       url('../../fonts/LoriMedium.ttf') format('truetype'),
       url('../../fonts/LoriMedium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Reset global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales del body */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background-color: #f4f4f4;
}

/* Contenedor principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo para el título */
h1 {
  align-self: flex-start;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* Rectángulos */
.rectangle {
  width: 1000px;
  max-width: 960px;
  height: 134px;
  background-color: #3498db;
  border: 2px solid #2980b9;
  margin-top: 3px;
  position: relative;
}

/* Cuadrado dentro del rectángulo */
.cuadro {
  width: 150px;
  height: 96px;
  background-color: white;
  border-radius: 11px;
  position: absolute;
  top: 17px;
  left: 17px;
}

/* Títulos centrados verticalmente respecto al rectángulo */
h2, h3 {
  position: absolute;
  left: 180px;
  transform: translateY(-50%);
  color: white;
}

h2 {
  top: 25%;
  font-size: 1.5rem;
}

h3 {
  top: 35%;
  margin-top: 25px;
  font-size: 1rem;
}

/* Rectángulo para las horas */
.hora {
  width: 150px;
  height: 70px;
  background-color: white;
  border-radius: 11px;
  position: absolute;
  right: 17px; /* Alineado a la derecha */
  top: 25%; /* Alineado con h2 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  color: #2980b9;
  font-weight: bold;
}

.hora p {
  margin: 5px 0;
}

/* Barra de navegación */
.nave {
  background: #591662;
  width: 100%;
  max-width: 960px;
  height: 80px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  justify-content: center;
  display: flex;
}

.home {
  opacity: 0.5;
  background: transparent;
  width: 40px;
  height: 40px;
  margin: 20px 5%;
  float: left;
  background-image: url(../../img/home.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.home:hover {
  opacity: 1;
}

.exposi {
  opacity: 0.5;
  background: transparent;
  width: 40px;
  height: 40px;
  margin: 20px 5%;
  float: left;
  background-image: url(../../img/expo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.exposi:hover {
  opacity: 1;
}

.subir {
  opacity: 0.5;
  background: transparent;
  width: 70px;
  height: 70px;
  margin: 5px 50px;
  float: left;
  background-image: url(../../img/subir.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.subir:hover {
  opacity: 1;
}

.subasta {
  opacity: 1;
  background: transparent;
  width: 40px;
  height: 40px;
  margin: 20px 5%;
  float: left;
  background-image: url(../../img/subasta.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 3px 0px;
}

.subasta:hover {
  opacity: 1;
}

.perfil {
  opacity: 0.5;
  background: transparent;
  width: 40px;
  height: 40px;
  margin: 20px 5%;
  float: left;
  background-image: url(../../img/perfil.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.perfil:hover {
  opacity: 1;
}

/* Media Queries para pantallas pequeñas */
@media screen and (max-width: 440px) {
  .caja {
    height: auto;
  }

  .upload-container {
    height: 120px;
    width: 120px;
  }
}
